header {
  height: 42rem;
  line-height: 42rem;
  width: 100%;
  margin-top: 64rem;
  overflow: hidden;
}
header img {
  height: 42rem;
  margin-left: 32rem;
}
header a {
  font-size: 30rem;
  color: #666666;
  margin-right: 32rem;
  float: right;
}
.logo {
  display: flex;
  justify-content: center;
  margin-top: 22rem;
}
.logo img {
  width: 250rem;
  height: 274rem;
}
form {
  margin-top: 92rem;
}
.user {
  text-align: center;
  position: relative;
}
.user span {
  position: absolute;
  top: 50%;
  left: 74rem;
  transform: translateY(-50%);
  font-size: 18rem !important;
  color: #9937da;
  display: none;
}
.user input {
  width: 600rem;
  text-align: center;
  padding: 24rem 0rem;
  border: none;
  border-bottom: 3rem solid #e8e8e8;
  font-size: 28rem;
  color: #999999;
  outline: none;
}
.user .bottom-icon {
  width: 44rem;
  height: 44rem;
  position: absolute;
  top: 24rem;
  right: 69rem;
}
.user .bottom-icon img {
  width: 44rem;
  height: 44rem;
}
.pwd {
  text-align: center;
  margin-top: 43rem;
  position: relative;
}
.pwd span {
  position: absolute;
  top: 50%;
  left: 74rem;
  transform: translateY(-50%);
  font-size: 18rem !important;
  color: #9937da;
  display: none;
}
.pwd input {
  width: 600rem;
  text-align: center;
  padding: 24rem 0rem;
  border: none;
  border-bottom: 3rem solid #f18cf1;
  font-size: 28rem;
  color: #999999;
  outline: none;
}
.submit {
  margin-top: 64rem;
  display: flex;
  justify-content: center;
}
.submit span {
  display: block;
  width: 102rem;
  height: 102rem;
}
.submit span img {
  width: 102rem;
  height: 102rem;
}
.forget {
  margin-top: 181rem;
  display: flex;
  align-items: center;
}
.forget .fwd {
  font-size: 26rem;
  color: #666666;
  margin-left: 214rem;
  margin-right: 50rem;
}
.forget .xian {
  display: inline-block;
  height: 20rem;
  width: 1rem;
  background-color: #666666;
  margin-right: 40rem;
}
.forget .reg {
  font-size: 26rem;
  color: #666666;
}
.accept {
  text-align: center;
  margin-top: 25rem;
}
.accept p {
  font-size: 22rem;
  color: #999999;
}
.accept p span {
  color: #666666;
}
footer {
  display: flex;
  margin-top: 46rem;
}
footer div {
  width: 90rem;
  height: 90rem;
}
footer div img {
  width: 90rem;
  height: 90rem;
}
footer div:first-child {
  margin-left: 172rem;
  margin-right: 67rem;
}
footer div:last-child {
  margin-left: 67rem;
}
.masked {
  text-align: center;
  background-image: -webkit-linear-gradient(left, #2f88e2, #e032ad 25%, #2f88e2 50%, #e032ad 75%, #2f88e2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: masked-animation 4s infinite linear;
}
@-webkit-keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}
