header {
  height: 42rem;
  line-height: 42rem;
  width: 100%;
  margin-top: 64rem;
  overflow: hidden;
}
header img {
  height: 42rem;
  margin-left: 32rem;
}
header a {
  font-size: 30rem;
  color: #666666;
  margin-right: 32rem;
  float: right;
}
.logo {
  display: flex;
  justify-content: center;
  margin-top: 22rem;
}
.logo img {
  width: 250rem;
  height: 274rem;
}
form {
  margin-top: 92rem;
}
.verify {
  text-align: center;
  position: relative;
}
.verify span {
  position: absolute;
  top: 50%;
  left: 74rem;
  transform: translateY(-50%);
  font-size: 18rem !important;
  color: #9937da;
  display: none;
}
.verify input {
  width: 600rem;
  text-align: center;
  padding: 24rem 0rem;
  border: none;
  border-bottom: 3rem solid #e8e8e8;
  font-size: 28rem;
  color: #999999;
  outline: none;
}
.verify .bottom-icon {
  width: 116rem;
  height: 22rem;
  position: absolute;
  top: 27.5rem;
  right: 74rem;
}
.verify .bottom-icon img {
  width: 116rem;
  height: 22rem;
}
.pwd {
  text-align: center;
  margin-top: 43rem;
  position: relative;
}
.pwd span {
  position: absolute;
  top: 50%;
  left: 74rem;
  transform: translateY(-50%);
  font-size: 18rem !important;
  color: #9937da;
  display: none;
}
.pwd input {
  width: 600rem;
  text-align: center;
  padding: 24rem 0rem;
  border: none;
  border-bottom: 3rem solid #e8e8e8;
  font-size: 28rem;
  color: #999999;
  outline: none;
}
.phone {
  text-align: center;
  margin-bottom: 43rem;
  position: relative;
}
.phone span {
  position: absolute;
  top: 50%;
  left: 74rem;
  transform: translateY(-50%);
  font-size: 18rem !important;
  color: #9937da;
  display: none;
}
.phone input {
  width: 600rem;
  text-align: center;
  padding: 24rem 0rem;
  border: none;
  border-bottom: 3rem solid #e8e8e8;
  font-size: 28rem;
  color: #999999;
  outline: none;
}
.submit {
  margin-top: 64rem;
  display: flex;
  justify-content: center;
}
.submit span {
  display: block;
  width: 102rem;
  height: 102rem;
}
.submit span img {
  width: 102rem;
  height: 102rem;
}
footer {
  text-align: center;
  margin-top: 246rem;
}
footer p {
  font-size: 22rem;
  color: #999999;
}
.masked {
  text-align: center;
  background-image: -webkit-linear-gradient(left, #2f88e2, #e032ad 25%, #2f88e2 50%, #e032ad 75%, #2f88e2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: masked-animation 4s infinite linear;
}
@-webkit-keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}
