*{
    margin: 0rem;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}
.box{
    overflow: hidden;
    width: 100%;
    height: 100rem;
    position: relative;
    background-image: linear-gradient(to right, #2f88e2, #e032ad);
}
.jp-gui{
    width:100%;
    height: 100%;
}
.jp-controls-holder{
  width: 50rem;
  height: 100%;
  position: relative; 
}
.jp-play,.jp-pause{
    width: 44rem;
    height: 44rem;
    position: absolute;
    top: 30rem;
    left: 612rem;
}
.jp-play{
    background: url(../index/img/home-4.png)  no-repeat;
    background-size: 44rem 44rem;
}
.jp-pause {
    background: url(../index/img/home-5.png) no-repeat;
    background-size: 44rem 44rem;
    display: none;
}
.jp-progress{
    width: 100%;
    position: absolute;
    top: 0rem;
    left: 0;

}
.jp-seek-bar{
    height: 100%;
}
.jp-play-bar{
    height: 100%;
    position: relative;
}

.jp-current-time{
    font-size: 15rem;
    color: #fff;
    position: absolute; 
    top: 34rem;
    left: 420rem;
}
.time-sep{
    font-size: 15rem;
    color: #fff;
    position: absolute;
    top: 34rem;
    left: 510rem;
}
.jp-duration{
    font-size: 15rem;
    color: #fff;
    position: absolute;
    top: 34rem;
    left: 530rem;
}
.jp-play-bar>span{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-size: 20rem ;
    position: absolute;
    top: -10rem;
    right: -16rem;
}
.jp-full-screen{
    width: 40rem;
    height: 35rem;
    background: url(images/sprite.png) -150rem 0 no-repeat;
    position: absolute;
}
.imgs{
    position: absolute;
    top: 30rem;
    right:32rem;
}
.imgs>img{
    width: 44rem;
}
.imgx{
    width: 68rem;
    height: 68rem;
    position: absolute;
    top: 20rem;
    left: 20rem;
}
.imgx>img{
    width: 68rem;
    height: 68rem;
}
.box>.text{
    color: rgb(255,255,255);
    position: absolute;
    top: 15rem;
    left: 109rem;     
}
.box>.text>p:nth-child(1){
    font-size: 24rem;
    margin-bottom: 9rem;
}
.box>.text>p:nth-child(2){
    font-size: 20rem;
}